.btn {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  padding: 1rem;
  border-radius: 3px;
  outline: none;

  &.btn--primary {
    height: 1.5rem;
    font-weight: 500;
    border: 1px solid $btn-primary-border-color;
    color: $btn-primary-color;
    background-color: $btn-primary-bg-color;

    &:hover,
    &.btn--active {
      color: $btn-primary-hover-color;
      background-color: $btn-primary-hover-bg-color;
    }
  }
}
