.event-list__item {
  padding: 20px 30px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 30px 80px 1fr auto;
  column-gap: 5px;

  .event-list__item-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .event-list__item-type {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .event-list__item-value {
    font-weight: 500;
  }


  .event-list__item + .event-list__item {
    border-top: 1px solid black;
  }


}
