.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fcfcfc;

  .header__search-box {
    width: 100%;
    margin-left: 1rem;
  }

  .header__search-input {
    width: 100%;
    padding: 0.5rem;
  }

  .header__btns {
    display: flex;
  }

}


