@import './variables/colors';
@import 'components/header';
@import 'components/eventList';
@import 'components/buttons';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
